<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">

	<test thread-count="5" name="SubmitOrder">
		<parameter name="UserName" value="John@mailinator.com"></parameter>
		<parameter name="Password" value="Sagar@91"></parameter>
		<parameter name="productname" value="ADIDAS ORIGINAL"></parameter>
		<classes>
			<class name="SagarAcademy.loginToCheckout" />
		</classes>
	</test>
</suite> <!--
Suite -->
